version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: /api
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_URLS: http://+:8080
    depends_on:
      - db

volumes:
  postgres_data: